<!DOCTYPE html>
<html>
<head>
  <% include ../partials/header.ejs %>
</head>

<body>


<div class="jumbotron text-center">
  <div class="container">
    <a href="/" class="lang-logo">
      <img src="/lang-logo.png">
    </a>
    <h1>Guerrilla game</h1>
    <p>Reference api for the guerrilla game</p>
  </div>
</div>
<div class="container">
  <div class="alert alert-info text-center" role="alert">
    This api is still in development and can be broken :/
  </div>
  <hr>
  <div class="row">
    <div class="col-md-12">
      <h3><span class="glyphicon glyphicon-info-sign"></span> API REF</h3>
      <ul>
        <li>Connect your socket client the following url <pre>ws://guerrilla.herokuapp.com:4554</pre>.</li>
        <li>
          All the messages are in json and always have the same content<pre>{type : ..., (data : ...)}</pre>
          the 'data' part may not always be available
        </li>
        <li>
          You will receive your player's id (type = "your_id" and the data is the id (0 or 1) <i></i>
        </li>
        <li>
          If it is your turn to play you will receive a <pre>{type : "your_turn"}</pre> message
        </li>
        <li>
          To move, send the message <pre>
{
  type : "move",
  data : {from : {x : ..., y: ...}, to : {x:...,y:..}}
}</pre>
          If the given coordinates are valid, the move will be done and the message you sent
          will be broacasted to all connected players (even yourself)
        </li>
        <li>
          To attack, send the same message as the "move" directive, but change type type to <i>attack</i>
            "From" is the unit who's attacking, and "to" is the attacked unit
        </li>
        <li>
          When your turn ended, it will automatically warn the other player, and the message you send to attack or move
          will not be taken into account
        </li>
        <li>
          You can end your turn sooner, by sending the message <pre>{type : "end_turn"}</pre>
        </li>
        <li>
          If ever, you want to get the field in its current state, just send the message <pre>{type : "get_board"}</pre>
        </li>
        <li>
          When an action is not valid, the server will send you a message, the type of the message will be "error"
        </li>
      </ul>
    </div>
</div>


</body>
</html>
